html {
    background: #BB453C;
    background: linear-gradient(#bb453c, #e890000);
    color: white;
}

*{
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

main p {
    font-size: 1.3em;
}

/* This section contains the formatting for the banner*/
#banner {
    box-sizing: border-box;
    background-image: url(Resources/Garage_Doors_Markham.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
    padding-top: 100px;
    z-index: 1;
}

#logo_title {
    background: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    width: 665px;
    height: 175px;
    margin: auto;
    padding: 10px;
    transform: translate(7px, 15px);
    border-radius: 5px;
}

#glass {
    z-index: 2;
    background: inherit;
    box-shadow: 10px 10px 30px black;
    height: 150px;
    width: 645px;
    padding: 20px;
    margin: auto;
    margin-top: -170px;
    left: 0;
    right: 0;
    top: 0; 
    bottom: 0;
    filter: blur(10px);
}

#logo {
    width: 130px;
    padding-left: 35px;
    margin-right: 90px;
}

#banner li {
    color: #BB453C;
    font-size: 2.3em;
    font-weight: 700;
    display: inline-block;
}

#banner h1 {
    width: 300px;
}

nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

nav li {
    display: inline;
    padding: 15px;
}

nav a:hover, footer a:hover {
    color: #840000;
}

/*This section contains the css formatting for the main area*/
main, footer, nav{
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.title_info h1 {
    font-size: 2.5em;
    text-align: center;
    line-height: 1.2em;
    width: 700px;
    margin: auto;
    margin-bottom: 30px;
}

.title_info p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: 1.2em;
}

/*This formats the three images at the bottom of the sight*/
@media screen and (min-width: 400px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin-top: 40px;
        margin-bottom: 40px;
        justify-items: center;
    }
    
    .col h2 {
        font-weight: 700;
        font-size: 1.4em;
        text-align: center;
        margin: 5px;
    }

    .col img {
        width: 100%;
    }
}

/*This section formats the previews of the garage doors on the residential and commercial page*/
.grid_2_col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
    justify-items: center;
    grid-auto-rows: 1fr;
}

.door {
    margin: auto;
    text-align: center;
}

.door h2 {
    margin: 15px 0px;
}

.door img {
    width: 380px;
}

/* This section formats the footer*/
footer h6 {
    text-align: right;
}